*{
    margin: 0;
    padding: 0;
}
body{
    
    background-color: #f0f2f5;
    
}
.head{
    background-color: rgba(71, 143, 215,0.8);
    color: aliceblue;
}
h3{
    text-align: center;
    
}
.main{
    position: relative;
}
.container{
    
    width: 50% !important;
    border:1px solid rgb(214, 210, 210);
    border-radius: 15px !important;
    padding:20px 40px !important;
    margin-top: 20px !important;
    box-shadow: 10px 10px 10px #bbbfc2,
     -10px -10px 10px #e2e4e5 !important;
    
}
.container1{
    display: flex;
    justify-content: space-between;
    font-size: small;
    font-weight: 400;
}

button{
    width: 30%;
}
.error{
    margin-left: 30px;
    color: red;
    font-size:small;
    font-weight: 400;
}
input:focus {
    outline: none;
 }
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foot{
    width: 100vw;
    background-color: rgba(71, 143, 215,0.8);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-content: center;
    position:fixed;
    bottom: 0px !important;
    
}
@media screen and (max-width:720px){
    .container{
        width: 95% !important;
    }
    
    button{
        width: 40%;
        
    }
    .error{
        font-size: x-small;
    }
}
@media screen and (max-width:1003px){
    .container1{
        flex-direction: column;
    }
}
